<div class="container vh-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="form-card no-after shadow-none text-center border py-4 px-5 m-auto" style="width: 600px;">
      <div class="text-left">
        <h2>Forgot Password</h2>
        <span class="my-4   d-inline-block">Please enter the email to confirm!</span>
        <input class="text-left form-control" type="email" placeholder="Email">
      </div>
      <button class="btn btn-success  my-3" type="submit">Send Code</button>
    </div>
  </div>
</div>
