.edit-organization {
  .uploadfilecontainer {


    label {
      box-shadow: 5px 5px 20px #0000000F;
      border-radius: 10px;

      p {
        font-size: 16px;
      }

      i {
        font-size: 3rem;

      }
    }
  }

}
