nav {
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 15px 30px #0000000F;

  .navbar-nav {
    margin-left: auto;
  }

  .nav-item {
    padding-right: 10px;
  }

  .nav-link.active {
    color: #3B8040;
    border-bottom: 1px solid #3B8040;
  }

  .nav-link.remove-active {
    color: #000;
    border-bottom: unset;
  }

  .dropdown {
    .dropdown-menu.show {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 10px;
      border: 0;
      width: 345px;
      box-shadow: 5px 5px 20px #0000000F;
      margin-top: 40px;
    }

    .dropdown-toggle {
      border-radius: 23px;
      border: 1px #3B8040;

      &::after {
        display: none;
      }
    }
  }

  a {
    text-decoration: none;
    color: #000;

    span {
      img {
        height: 60px;

        max-height: 60px;
      }
    }
  }
}
